<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Test 1</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Ea aute elit elit non pariatur fugiat esse ullamco mollit aute. Sit exercitation non voluptate voluptate deserunt elit ea ex laborum et non magna velit. Laboris amet officia culpa sit amet eu.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Test 2</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Quis mollit non do ex magna eu qui exercitation qui nulla elit. Laboris proident aliquip amet consequat aute. Qui laborum non mollit enim anim sint sint consequat sunt.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Test 3</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Officia aliquip Lorem irure aliqua fugiat exercitation magna. Aliquip nulla exercitation reprehenderit quis ullamco ea eiusmod id. Anim cillum reprehenderit magna ex ullamco velit in eu tempor minim esse. In exercitation quis occaecat dolor sit dolor proident aliquip veniam sint culpa ipsum. Aute laborum est est incididunt ea esse officia. Commodo ad sit voluptate adipisicing.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Test 4</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Adipisicing sint cillum amet et sint. Sit dolor fugiat ut aliquip nisi consectetur non sint. Non officia commodo veniam commodo reprehenderit ex duis pariatur sunt. Ipsum mollit amet cupidatat amet proident. Lorem do non dolore consequat nostrud laborum sit. Sint sit irure aute sunt sunt enim tempor irure culpa sit. Ut fugiat Lorem sunt enim mollit cillum qui fugiat deserunt nisi veniam dolor.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image" style="background-color: white;color: black;">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        OMS!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>